body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #00171f;
}

#navigation{
    position: fixed;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    
}

.list{
    list-style: none;
}

.list li {
    display: inline-block;
    font-weight: 600;
}


.list li a{
    text-decoration: none;
    color: #00171f;
    padding: 5px 10px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 500ms;
}

.list li a:hover{
    background-color: #f9564f;
    color: #fff;
    border-radius: 5px;
}

#logo{
    max-width: 200px;
    
}
.logotipo{
    font-size: 30px;
    font-weight: 800;
    color: #00171f;
    font-family: 'Roboto', sans-serif;
    transition-property: color;
    transition-duration: 500ms;
}
.logotipo:hover{
    color: #f9564f;
}

.rocklogo{
    color: #f9564f;
    transition-property: color;
    transition-duration: 500ms;
}

.rocklogo:hover{
    color: #00171f;
    
}

.padrao{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    
}

.home-background{
    background-color: #f9554f1c;

}

.circle{
    position: absolute;
    top: -100px;
    left: -100px;
    width: 900px;
    height: 900px;
    background-color: #f9564f;
    border-radius: 1000px;
    
}



.esquerda{
    max-width: 40%;
    background-color: #fff;
    border-radius: 600px;
}

.direita{
    max-width: 40%;
    margin-top: 220px;

}

.esquerda img{
    margin-top: 50px;
    max-height: 100vh;
    background-size: cover;
    
}

#h6s{
    font-size: 28px;
    color: #f9564f;
    margin-bottom: -50px;
}

#h1s{
    font-size: 70px;
    color: #00171f;
    font-weight: 900;
}

#h2s{
    font-size: 25px;
    color: #00171f;
    margin-top: -50px;
}

.social-list{
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.btn-social{
    display: inline;
    font-size: 28px;
    margin-right: 10px;
}
.fab{
    color: #f9564f;
    transition-property: color;
    transition-duration: 500ms;
}

.fab:hover{
    color: #00171f;
}


.esquerda2{
    max-width: 40%;
    margin-top: 30px;
}

.direita2{
    max-width: 40%;
}

.direita2 img{
    max-height: 100vh;
    background-size: cover;
    
}

.h2s2{
    font-size: 35px;
    font-weight: 900;
}

.pgeral{
    color: #5e6472;
}

.box-mini{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    
}

.mini-box{
    width: 200px;
    height: 100px;
    background-color: #5e64721f;
    border-radius: 10px;
    border: 2px #f9564f;
    border-style: dashed;
    display: flex;
    justify-content: center;
    
    
    

    
}
.mini-box  h5{
    font-size: 35px;
    color: #f9564f;
    margin-top: 20px;
    font-weight: 900;

}

.mini-box p{
    margin-top: -55px;
    font-weight: 600;
}

.boxe{
    margin-right: 30px;
}

.social-skill{
    margin-top: 40px;
    padding: 20px 0 20px 0;
}

.skills{
    max-width: 40%;
    font-size: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    
}

.skills > i{
    padding: 10px;
    padding-top: 20px;

}

.description-skills{
    max-width: 40%;
}

.exp{
    margin: auto;
    max-width: 40%;
    
}

.h2exp{
    padding-top: 40px;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}

.jobs{
    max-width: 500px;
    border: solid 1px #5e647246;
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    text-align: left;
    margin: 20px;
    transition-property: box-shadow;
    transition-duration: 500ms;
    
}

.jobs:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.jobs > h6 > i{
    background-color: #f9564f;
    padding: 10px;
    border-radius: 50px;
    color: #fff;
}

.jobs > h6{
    width: 110px;
    background-color: #f9564f;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.jobs > h5{
    font-size: 16px;
    font-weight: 600;
}

.secjobs{ 
    max-width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    
    
}
.news{
    background-color: #f9564f;
    height: 150px;
    align-items: center;
}

.news_l{
    max-width: 40%;
}

.news_l > h1{
    color: #fff;
}

.news_r{
    max-width: 40%;
}

input{
    margin: 10px;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type="submit"]{
    background-color: #fff;
    color: #f9564f;
    font-weight: 800;
    width: 80px;
}

/*Animation skills section*/
.conteudo {
    display: none;
  }
  
  .visible {
    display: block;
    transition-duration: 500ms;
  }
  
  .icon {
    padding: 20px;
    cursor: pointer;
  }


  .serviceTop{
      max-width: 40%;
      margin: auto;
  }

  .services{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      
  }

  .myServices{
      display: inline-block;
      max-width: 300px;
      max-height: 300px;
      border: #5e64723d 1px solid;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px;
      margin: 20px;
  }

  .iconServices{
      margin-top: 10px;
      font-size: 50px;
      color: #fff;
      background-color: #f9564f;
      text-align: center;
      border-radius: 10px;
      padding: 20px;
      min-width: 60px;
      

      
  }

  .iconServices:hover{
      background-color: #00171f;
      transition-property: background-color;
      transition-duration: 500ms;
  }
  
  .titleService{
      font-size: 26px;
      color: #00171f;
      margin-top: 30px;
      
      
  }

  .descService{
      margin-top: 0;
      color: #5e6472;
      margin-top: -20px;
      
      
  }

  .titleServiceTop{
      width: 100%;
  }

  .contatos{
    max-width: 40%;
    margin: auto;
  }

  .formcontato{
      background-color: #f9554f2d;
      padding: 30px;
      margin-top: 30px;
  }

  .formDireita{
      max-width: 600px;
      max-height: 350px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      border: 1px solid #5e64723d;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 20px;
      


      
  }

  .formDireita > form > input{
      margin: auto;
      padding: 10px;
      margin-right: 20px;
  }

  .formDireita > form > p{
    margin-bottom: 5px;
}

.menss > textarea{
    
    border-radius: 5px;
   
    border-style: none;
}



.menss > p{
    margin-bottom: 5px;
    
}

.btnenviar{
    text-align: center;
    width: 100%;
}

.btnenviar > input{
    width: 480px;
    padding: 10px;
    background-color: #f9564f;
    color: #fff;
}

.formEsuerda{
    max-width: 280px;
    max-height: 350px;
    border: 1px solid #5e64723d;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}

.formEsuerda > h5{
    margin-top: 10px;
    margin-bottom: 10px;
}


.formEsuerda > p{
    margin-top: 10px;
}

.fac{
    color: #f9564f;
}

.rodape{
    background-color: #00171f;
    padding: 20px;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
}

.social-footer{
    color: #fff;
    font-size: 20px;
    margin: 5px;
}

.social-footer:hover{
    color: #f9564f;
}


@media screen and (max-width: 420px){
/* 
      #geral{
        background-color: aqua;
        width: 100%;
    } 
 */

    #navigation{
        z-index: 0;
        position: fixed;
    }

    .padrao{
        display: flex;
        flex-wrap: wrap;
        
    }

    .esquerda{
        max-width: 80%;
        display: none;
    }
    
    
    .direita{
        max-width: 100%;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.342);
        text-align: center;
        margin-top: 90px;
    }

   /*  #h1s{
        font-size: 50px;
        padding: 30px;
    } */

    .direita2{
        display: none;
    }

    .esquerda2{
        display: block;
        max-width: 80%;
        margin: 0px;
    }

    .mini-box p{
        font-size: 14px;
    }

    .social-skill{
        margin: 0;
        padding: 20px 0 20px 0;
        display: block;
    }
    
    .skills{
        max-width: 80%;
        font-size: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
        margin: auto;
        
    }
    
    .skills > i{
        padding: 10px;
        padding-top: 20px;
    
    }
    
    .description-skills{
        max-width: 80%;
        margin: auto;
    }

    .exp{
        margin: auto;
        max-width: 80%;
        
    }

    .secjobs{ 
        max-width: 80%;
        margin: auto;
    }

    .jobs{
        max-width: 360px;
        border: solid 1px #5e647246;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px;
        display: inline-block;
        text-align: left;
        margin: 10px 0 10px 0;
        transition-property: box-shadow;
        transition-duration: 500ms;
        
        
    }

    .news{
        background-color: #f9564f;
        height: 150px;
        display: flex ;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30px;
        
    }

    .news_l{
        max-width: 100%;
        font-size: 15px;
    }

    .news_r{
        max-width: 100%;
        margin-top: -50px;
    }

    .serviceTop{
        max-width: 80%;
    }

    .contatos{
        max-width: 80%;
    }
    
    .formcontato{
        background-color: #f9554f2d;
        padding: 30px;
        margin-top: 30px;
        
    }
  
    .formDireita{
        max-width: 100%;
        max-height: 550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid #5e64723d;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 30px;
    }

    .formDireita > form > input{
        margin: auto;
        padding: 10px;
        width: 230px;
    }

    .btnenviar{
        text-align: center;
        width: 100%;
    }
    
    .btnenviar > input{
        width: 250px;
        padding: 10px;
        background-color: #f9564f;
        color: #fff;
    }

    .formEsuerda{
        max-width: 100%;
        max-height: 350px;
        border: 1px solid #5e64723d;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 20px;
    }
}